[Unit]
Description=Vector database API service

[Service]
User=usr
WorkingDirectory=/home/usr/production/threat-actor-detector
ExecStart=/home/usr/production/threat-actor-detector/.venv/bin/python3 /home/usr/production/threat-actor-detector/src/vector_db_api/vector_db_api.py

[Install]
WantedBy=multi-user.target
